nav {
    position: relative;
}

.menu {
    background-color: #3b8952;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.opcoes {
    display: none;
    position: absolute;
    background-color: #0f684b;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #03484c;
    border-radius: 5px;
    top: 100%;
    right: 0;
}

.opcoes li {
    padding: 10px;
}

.opcoes li a {
    color: #ffffff;
    display: block;
}

.opcoes li a:hover {
    background-color: #3b8952;
}
nav:hover .opcoes {
    display: block;
}
